<div id="organisebg">

    <div style="display: flex;flex-direction: row;margin-left: 16%; margin-top: 6%;">
        <form action="/events" method="GET">
            <div ><input class="eventsearch" type="search" placeholder="Search events" name="title" value="<%= searchOptions.title %>" autofocus /></div>
        </form>
        <a href="/events/new"><i class="fas fa-plus-circle" style="font-size: 3rem; color: white;margin-top: 5px;"></i></a>
    </div>
    
    
    <br><br><br>
    
        <div id="postcardcontainer">
            <div class="eventsflex" style="margin-left: 80px;">
                <% events.forEach(event => { %> 
                    <a href="/events/<%= event.id %>" class="postcard" style="width: 250px; height: 370px;">
                        <img src="<%= event.coverImagePath %>" class="postcard__image" alt="" />
                        <div class="postcard__overlay">
                        <div class="postcard__header">  
                            <svg class="postcard__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                            <img class="postcard__thumb" src="https://i.ibb.co/KbcPFHv/synapse-logo.png" alt="" />        
                            <div class="postcard__header-text">
                            <h3 class="postcard__title"><%= event.title %></h3>            
                            <span class="postcard__status"><%= event.username %></span>
                            </div>
                        </div>
                        <p class="postcard__description"><%= event.description %></p>
                        </div>
                    </a> 
            <% }) %> 
            </div>
        </div>
    
    
    </div>

</div>
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>