<div id="tagsbg" style="height: 105vh;">
<br>
<a href="/events" style="margin-left: 75px;margin-top: 8%;"><i class="fas fa-arrow-circle-left" style="color: #edff94;font-size: 2.5rem;"></i></a>

<div class="postouter">
    <div class="postcard">
        
        <div class="postform">
    
            <img src="<%= event.coverImagePath %>" style="width: 200px; height: 300px;border-radius: 10px;margin-top: 40px;margin-bottom: 20px;">
            <div style="margin-left: 20px;">
                <h2 class="posthead"><%= event.title %></h2>
        
                <div>
                    <input type="text" name="username" value="<%= event.username %>" placeholder="Username : Autofill" readonly>
                </div><br>
        
                <div style="display:flex; flex-direction:row; justify-content:space-between;margin-left: 10px;">
        
                    <div>
                        <select name="tag">
                            <option label="<%= event.tag.name %>" selected></option>
                        </select>
                    </div>
        
                    <div style="margin-left: 20px;">
                        <input type="date" name="timeline" id="postdate" readonly value="<%= event.timeline %>">
                    </div>
                </div>
                <br>
                <div>
                    <textarea placeholder="Description" name="description" readonly><%= event.description %></textarea>
                </div>
                <br>

                <div style="display: flex; flex-direction: row;margin-left: 60px;margin-top: 5px;">
                    <div style="margin-right: 50px;"><%- include('../partials/deleteForm',{url:`/events/${event.id}`}) %> </div>
                    <div><a href="/events/<%= event.id %>/edit"><i class="fas fa-exclamation-circle" style="color: #1288d6;font-size: 2.5rem;"></i></a></div>

                </div>
        
            </div>
        
        </div>

    </div>
</div>


</div>