<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.tagshowhead{
    width: 1200px;
    margin-left: 12%;    
}
.tagname{
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    transition: 0.5s;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #16b4ae 0%,#16b4ae 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-size .2s;
}

.tagname:hover {
  background-size: 4px 70px;
  /* transition: 0.2s; */
}

.headbuttons{
    display: flex;
    flex-direction: row;
}

.tagbarbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

</style>

<a href="/tags" style="margin-left: 45px;"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="#77c9b5" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg></a>


<div class="tagshowhead">
    <br>
    <div class="tagbarbutton">
        <div class="tagname"><h2><span>  <%= tag.name %>  </span></h2></div>
            <br>
            <div class="headbuttons">
                <div><a href="/tags/<%= tag.id %>/edit"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-filter-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM3.5 5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zM5 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                </svg></a></div>
                <div style="margin-left: 40px;"><%- include('../partials/deleteForm',{url: `/tags/${tag.id}`}) %> </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<div style="margin-left: 100px; padding-top: 30px;">

<% if(eventsByTag.length>0) { %> 
    <h2>Events by Tag</h2>
    
    <br><br>

    <div style="width: 1500px;">
        <div class="flexcontainer" style="margin-left: 80px;">
            <% eventsByTag.forEach(event => { %> 
                <a href="/events/<%= event.id %>" class="card" style="width: 250px; height: 370px;">
                    <img src="<%= event.coverImagePath %>" class="card__image" alt="" style="width: 250px; height: 340px;"/>
                    <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                        <img class="card__thumb" src="https://i.ibb.co/KbcPFHv/synapse-logo.png" alt="" />
                        <div class="card__header-text">
                        <h3 class="card__title"><%= event.title %></h3>            
                        <span class="card__status"><%= event.username %></span>
                        </div>
                    </div>
                    <p class="card__description"><%= event.description %></p>
                    </div>
                </a> 
            <% }) %> 
        </div>
    </div>
<% } %> 

</div>